<h2 class="title is-2">Password Generator</h2>

<form class="max-w-md shadow" #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div class="field">
    <label class="label" for="length">Length : </label>
    <input
      class="input"
      type="number"
      min="8"
      ngModel
      name="length"
      id="length"
    />
  </div>
  <article class="message is-danger" *ngIf="error">
    <div class="message-body">{{ error }}</div>
  </article>
  <div class="field">
    <label class="checkbox" for="letters">
      <input
        type="checkbox"
        ngModel
        name="includeUppercaseLetters"
        id="letters"
      />
      Include uppercase letters
    </label>
  </div>
  <div class="field">
    <label class="checkbox" for="numbers">
      <input type="checkbox" ngModel name="includeNumbers" id="numbers" />
      Include Numbers
    </label>
  </div>
  <div class="field">
    <label class="checkbox" for="symbols">
      <input type="checkbox" ngModel name="includeSymbols" id="symbols" />
      Include Symbols
    </label>
  </div>
  <button class="button mb-2 is-primary is-fullwidth" type="submit">
    Generate
  </button>
  <div *ngIf="generatedPassword">
    <div class="field">
      <label class="label" for="generated-password"> Your password : </label>
      <input
        #generatedPasswordField
        class="input"
        type="text"
        id="generated-password"
        [value]="generatedPassword"
      />
    </div>
    <button
      type="button"
      class="button is-primary is-fullwidth mt-2"
      (click)="onCopyPassword(generatedPasswordField.value)"
    >
      Copy Password
    </button>
    <article class="message is-success mt-2" *ngIf="success">
      <div class="message-body">{{ success }}</div>
    </article>
  </div>
</form>
